NODE_ENV=development
PORT=PORT
LOG_LEVEL=LOG_LEVEL


DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD


JWT_SECRET=JWT_SECRET
JWT_EXPIRES_IN=JWT_EXPIRES_IN

RESEND_API_KEY=RESEND_API_KEY
RESEND_EMAIL_SENDER=RESEND_EMAIL_SENDER